.discover {
  .discover-header {
    padding: 100px 0 0 0;

    .discover-title {
      font-size: 60px;
      letter-spacing: 12px;
      padding: 0 0 50px 0;
    }

    .discover-subtitle {
      color: $color-one;
      letter-spacing: 6px;
      font-size: 30px;
      padding: 50px 0 50px 0;

      &:hover {
        color: $color-four;
      }

    }
  }
}

@media (max-width: 768px) {
  .discover {
    .discover-header {
      padding: 30px 0 0 0;

      .discover-title {
        font-size: 45px;
        padding: 0 0 30px 0;
      }

      .discover-subtitle {
        padding: 30px 0 30px 0;
      }
    }
  }
}