*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $color-three;
  font-family: $font-two;
  font-size: 30px;
  line-height: 27px;
  font-weight: $font-regular;
  color: $color-two;
  text-align: center;
}

.container {
  max-width: 643px;
  margin: 0 auto;
  padding: 0 20px;
}

#pages {
  >* {
    display: none;
  }

  >.active {
    display: block;
  }
}

.green-audio-player .slider .gap-progress .pin {
  background-color: $color-four;
}