.search {
  padding: 0;

  .search-header {
    padding: 100px 0 0 0;

    .search-title {
      font-size: 60px;
      letter-spacing: 12px;
      padding: 0 0 50px 0;
    }
  }

  .main-input {
    display: flex;
    justify-content: space-around;
    width: 643px;


    .search-option {
      letter-spacing: 6px;
      padding: 10px;
    }

    .input-song,
    .category-input {
      margin: 0 25px 0 25px;
      width: 200px;
      height: 59px;
      border-radius: 10%;
    }
  }

  .search-button {
    width: 139px;
    height: 59px;
    box-shadow: 0 0 54px 11px rgba(0, 0, 0, 0.11);
    background-color: $color-four;
    border-radius: 10%;
    line-height: 0;
    margin: 25px;

    .text-button {
      color: $color-one;
      font-size: 20px;
      letter-spacing: 4px;

    }

  }

  .result {
    color: $color-one;
    margin: 90px 0 90px 0;

    .result-text {
      letter-spacing: 6px;
      line-height: normal;
    }
  }

}


@media (max-width: 768px) {
  .search {
    .search-header {
      padding: 30px 0 0 0;
    }

    .main-input {
      flex-direction: column;
      max-width: 350px;
      margin: 0 auto;


      .search-option {
        padding: 10px;
      }

      .input-style,
      .category-input {
        margin: 20px auto;
        width: 300px;
      }
    }

    .search-button {
      width: 200px;
      height: 50px;
      margin: 20px auto;

    }
  }


  .result {
    margin: 30px 0 30px 0;

  }
}