$font-one: 'Source Code Pro', monospace;
$font-two: 'Source Sans Pro', sans-serif;

$color-one: #ffffff;
$color-two: #bfbfbf;
$color-three: #000000;
$color-four: #cf383e;

$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;